@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --font-family: 'Manrope', sans-serif;

    --gradient-text: linear-gradient(89.97deg, #530E1A 1.84%, #af5963 102.67%);
    --gradient-bar: linear-gradient(103.22deg, #530E1A -13.86%, #af5963 99.55%);

    --color-bg: #C1C6BF;
    --color-footer: #031B34;
    --color-blog: #042c54;
    --color-text: #530E1A;
    --color-subtext: #FF8A71;

    --color-red: #530E1A;
    --color-redhover: #8c2436;
    --color-white: #C1C6BF;
    --color-whitehover: #BEBD7E;
}